@page
@model Tracking.Pages.Shared.Issues.NewModel
@{
}
<div class="mt-5">
    <form method="post">
        <div class="form-group">
           <label class="form-label">Title</label>
           <input class="form-control"/>
        </div>
    </form>
</div>
