@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="col mt-3">
   <a class="btn btn-primary" asp-page="Users/New">+ New user</a>
</div>

@if(Model.User.Claims == null)
{
    <p class="text text-uppercase text danger" >No User yet</p>
}

